<div id="<%- id %>" style="width: <%- width %>;height: <%- height %>px;margin: 0 auto"></div>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        const isDarkTheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
        var myChart = echarts.init(document.getElementById('<%- id %>'),isDarkTheme ? "dark" : "light");
        // 指定图表的配置项和数据
        var option = <%= option %>
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
